<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Hey! It's <%= week %>, it's time to <%= activity %>!</h1>  <%# every line must have open n close %>
</body>
</html>

<%#  %>        <!--Comment-->

<%=  %>        <!--JS variable(O/P is displayed)-->

<%  %>         <!--Executable JS(not displayed)-->

<%-  %>        <!--Renders HTMl as O/P(can include html tags)-->

<%- include("filename.ejs") %>    <!--include ejs files for header/footer-->


